/*line to import custome fonts*/
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold; /* Bold */
  font-style: normal;
}
/*unerversial styling*/
* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
/*personal info styling*/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef5ff;
}
.wrapper {
  width: 85%;
  height: 85%;
  display: flex;
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}
/*sidebar styling start*/
.sidebar {
  width: 20%;
  height: 96%;
  background: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  align-self: center;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 30px;
}
.sidebarItems {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 15px;
}
.NumberCycle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  font-weight: 700;
}
.steps {
  font-size: 14px;
  color: #7976ff;
  font-weight: 600;
}
.stepText {
  color: white;
} /*side bar styling end*/
/*step1 styling start*/
.step1 {
  width: 70%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  /* background-color: blue; */
}
.personalInfoText {
  color: #174a8b;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 50px;
}
.provideInfo {
  color: #aaabb2;
  font-weight: 300;
  margin-bottom: 30px;
}
.infoForm {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: #7976ff; */
}
label {
  font-weight: 600;
  color: #152938;
  margin-top: 10px;
  align-self: flex-start;
}
.inputDiv {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #b7b8bc;
}
input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding-left: 10px;
}
.inputDiv:hover {
  border: 1px solid #625aff;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  font-size: 14px;
}
button {
  width: 100px;
  height: 40px;
  background-color: #174a8b;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 30px;
  border-radius: 8px;
}
/* step1 styling ends here */
/* step2 styling start */
.step2 {
  width: 65%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  /* background-color: blue; */
}
.planBox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  /* display: none; */
}
.planBox2 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  display: none;
}
.plan {
  width: 120px;
  height: 140px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
}
.plan:hover {
  border: 1px solid #625aff;
  background-color: #eef5ff;
}
.planText {
  font-weight: 500;
  color: #174a8b;
  margin-top: 50%;
}
.planText2 {
  font-weight: 500;
  color: #174a8b;
  margin-top: 40%;
}
.bonusText {
  font-size: 13px;
  color: #174a8b;
  font-weight: 400;
  margin-top: 5px;
}
.planSubText {
  font-size: 14px;
  color: #aaabb2;
}
.duration {
  width: 60%;
  height: 50px;
  background-color: #eef5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 35px;
}
.fa-toggle-on {
  color: #174a8b;
  transform: rotate(180deg);
  font-size: 30px;
}
.month {
  font-weight: 500;
  color: #174a8b;
}
.year {
  color: #aaabb2;
}
.back {
  margin-top: 30px;
}
.fowardBackword {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* step2 styling end */
/* step3 style begin */
.step3 {
  width: 65%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  /* background-color: blue; */
}
.step3Plan {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  display: none;
}
.step3Plan2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.step3PlanBox {
  display: flex;
  align-items: center;
  width: 60%;
  height: 40px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  /* justify-content: space-between; */
}

input[type="checkbox"] {
  transform: scale(0.8); /* Adjust the scale as needed */
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  accent-color: #6259ff;
  margin-left: -48%;
  margin-right: -43%;
}
.tEdit {
  margin-top: 0;
}
.tEdit2 {
  font-size: 13px;
  color: #174a8b;
  font-weight: 400;
  margin-left: auto;
}
.step3PlanBox:hover {
  border: 1px solid #625aff;
  background-color: #eef5ff;
}
/* step 3 style end */
/* step 4 style begin  */
.step4 {
  width: 65%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  /* background-color: blue; */
}
.step4PlanBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 15px; */
  display: none;
}
.step4plan {
  width: 60%;
  height: 170px;
  box-sizing: border-box;
  padding: 17px;
  background-color: #eef5ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textLayer1 {
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  height: 1px;
  background-color: hsla(233, 5%, 68%, 0.589);
}
.totalAmount {
  width: 60%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  /* background-color: #6259ff; */
}
.totalText1 {
  font-size: 14px;
  color: #aaabb2;
}
.totalText {
  font-size: 18px;
  font-weight: 600;
  color: #625aff;
}
.marginEdit {
  margin-top: 10%;
}
.step4PlanBox2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 15px; */
  /* display: none; */
}
/* step4 style end*/
/* step5  style start */
.step5 {
  width: 65%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.approve {
  margin-top: 22%;
  margin-right: 12%;
}
.thankYou {
  margin-top: 10px;
  margin-right: 12%;
  font-size: 30px;
  font-weight: 700;
  color: #174a8b;
}
.thanksMessage {
  margin-top: 10px;
  color: #aaabb2;
  margin-right: 9%;
  font-size: 19px;
}
